
<settings>
  <token>1874f4017836a93230e7c893fafc89585be3afe746609ed96a4439e421f05ab85d04a682beee2f1892f1c</token>
  <textPost>Text zalupinio iataliano </textPost>
  <interval>120</interval>

  <post>
    <attachments>
      <attachment>attachment</attachment>
    </attachments>
    <copyright>copyright</copyright>
    <v>5.122</v>
  </post>

  <groups>
    <groups>206619249</groups>
  </groups>
</settings>
